<h1>Add new item </h1>

<form action="/insert_item">

<div>
  <label for="link_url">Link URL</label>
  <input id="link_url" name="link_url_param" type="text" placeholder="Enter a url">
</div>
<div>
  <label for="descriptio">Link Description</label>
  <input id="description" name="description_param" type="text" placeholder="Enter a link description">
</div>
<div>
  <label for="thumbnail_url">Thumbnail Url</label>
  <input id="thumbnail_url" name="thumbnail_url_param" type="text" placeholder="Enter a thumbnail">
</div>
<button>Create item</button>

</form>
